@use '../../../../../scss/global' as *;

.products-grid {
  // By default, a 4-column grid with a 2rem gap
  @include grid(4, 2rem);
  margin-bottom: 3rem;

  // Switch to a single-column layout if "list" class is present
  &.list {
    @include grid(1, 2rem);
    justify-items: center;
    .product-card {
      flex-direction: row;
      gap: 2rem;

      .image-container {
        flex: 0 0 300px;
      }
    }
  }

  // Adjust columns at breakpoints
  @include respond-below(xl) {
    @include grid(3, 1.5rem);
  }

  @include respond-below(lg) {
    @include grid(2, 1rem);
  }

  @include respond-below(md) {
    @include grid(1, 1rem);
    justify-items: center;
  }
}
