<div class="filter-container" [@filterContainerAnimation]>
  <!-- Wrapper for Filter & View Icons -->
  <div class="filter-wrapper">
    <div class="filter-left">
      <mat-icon
        class="filter-button"
        [matMenuTriggerFor]="menu"
        [@filterButtonAnimation]
        [@iconHover]="filterIconState"
        (mouseenter)="setIconState('filter', 'hovered')"
        (mouseleave)="setIconState('filter', 'normal')">
        tune
      </mat-icon>
      <span class="filter-text">Filter</span>
      <mat-menu #menu="matMenu" class="filter-menue">
        <div [@dropdownAnimation]>
          <button mat-menu-item (click)="onFilterClick(null)"> All </button>

          @for (item of catigoriesList; track $index) {
            <button mat-menu-item (click)="onFilterClick(item.id)">{{item.title}}</button>
          }
        </div>
      </mat-menu>
    </div>

    <div
      class="filter-left"
      (click)="setViewMode('grid')"
      [@viewModeAnimation]
      [@activeViewMode]="getViewModeState('grid')">
      <div
        class="icon-grid"
        [@iconHover]="gridIconState"
        (mouseenter)="setIconState('grid', 'hovered')"
        (mouseleave)="setIconState('grid', 'normal')"></div>
    </div>

    <div
      class="filter-left"
      (click)="setViewMode('list')"
      [@viewModeAnimation]
      [@activeViewMode]="getViewModeState('list')">
      <div
        class="icon-list"
        [@iconHover]="listIconState"
        (mouseenter)="setIconState('list', 'hovered')"
        (mouseleave)="setIconState('list', 'normal')"></div>
    </div>

    <!-- Separator (border) -->
    <div class="border"></div>

    <!-- Showing X of X results -->
    <div class="filter-left">
      <span class="filter-text" [@resultsAnimation]="{value: '', params: {startIndex: startIndex, endIndex: endIndex, totalItems: totalItems}}">
        Showing {{ startIndex }}–{{ endIndex }} of {{ totalItems }} results
      </span>
    </div>
  </div>

  <!-- Sort & Items Per Page -->
  <div class="filter-right" [@formControlsAnimation]>
    <label for="items-per-page">Show</label>
    <select id="items-per-page" (change)="onItemsPerPageClicked($event)">
      <option value="16">16</option>
      <option value="32">32</option>
      <option value="64">64</option>
      <option value="100">100</option>
    </select>
    <label for="sort-select">Sort by</label>
    <select id="sort-select" (change)="onSortChange($event)">
      <option value="default" selected>Default</option>
      <option value="priceAsc">Price (Low to High)</option>
      <option value="priceDesc">Price (High to Low)</option>
    </select>
  </div>
</div>
