<footer class="site-footer">
  <div class="footer-top">
    <div class="footer-column brand-addresses">
      <div class="brand-logo">
        <img src="https://lugarstore.com/uploads/LOGO1-lugar.svg" width="94px" alt="">

      </div>

    </div>

    <!-- Column 2: Links -->
    <div class="footer-column footer-links">
      <h3>Links</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <!-- Column 3: Help -->
    <div class=" footer-help">
      <h3>Follow Us</h3>
      <ul class="social-links">
        <li>
          <a href="https://www.facebook.com/lugarinv?mibextid=ZbWKwL">

            <img src="https://lugarstore.com/uploads/facebook-brands.svg" width=" 16px" alt="">
            <span>Facebook</span>
          </a>
        </li>
        <li>
          <a href="https://wa.me/201023351915">
            <img src="https://lugarstore.com/uploads/whatsapp-icon.svg" width=" 16px" alt="">
            <span>Whatsapp</span>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/lugar_furniture">
            <img src="https://lugarstore.com/uploads/instagram-brands.svg" width=" 16px" alt="">
            <span>Instagram</span>
          </a>
        </li>
        <li>
          <a href="https://www.tiktok.com/@lugarfurnitureinv?_t=8sj2O0ysXQo&_r=1">
            <img src="https://lugarstore.com/uploads/tiktok-brands.svg" width=" 16px" alt="">

            <span>Tiktok</span>
          </a>
        </li>
      </ul>

      <!-- Column 3: Social Media -->

    </div>

    <!-- Column 4: Newsletter -->
    <div class="footer-column footer-newsletter">
      <h3>Address</h3>
      <div class="newsletter-signup">
        <div class="addresses">
          <div class="address-block">
            <h3>Factory</h3>
            <p>Damietta Dam <br />Road Hangar Logar Furniture</p>
          </div>
          <div class="address-block">
            <h3>Damietta Store </h3>
            <p>Damietta Exhibition,<br /> Port Said Road, behind Al-Baqari Cars</p>
          </div>
          <div class="address-block">
            <h3>Cairo Store</h3>
            <p>Fifth Settlement Lotus Exhibition,<br />in front of Platinum Club, next to Skyline School</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bottom row -->
  <div class="footer-bottom">
    <p>2025 Lugarstore. All rights reserved</p>
  </div>
</footer>
