@use '../../../../../scss/global' as *;

.products-hero {
  position: relative;
  text-align: center;
  height: 10.25rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 4rem;
  background: #FAF3EA;
   padding-bottom: 2.375rem;

  &__breadcrumb {
    // margin-bottom: 1rem;
    color: $black;
    font-family: $font-family-secondary;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    margin-left: 5.625rem;

  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}
