<mat-toolbar class="header-container" [@headerAnimation] #matToolbar>

  <!-- Mobile Menu Trigger -->
  <button *ngIf="(isMobile$ | async) === true"
          mat-icon-button
          (click)="toggleMobileMenu()"
          class="mobile-menu-button">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="logo" [@logoAnimation]>
    <a routerLink="/">
      <img ngSrc="https://lugarstore.net/uploads/LOGO1-lugar.svg" width="94" height="94" priority="low" alt="Lugar Logo">
    </a>
  </div>

  <nav class="nav-links" *ngIf="(isMobile$ | async) === false" [@navLinksAnimation]>
    <a [routerLink]="['/home']" class="nav-link" routerLinkActive="router-link-active"
       [routerLinkActiveOptions]="{ exact: true }">
      <span>Home</span>
    </a>

    <!-- Products with dropdown -->
    <div class="nav-link-wrapper">
      <a class="nav-link"
         
         routerLinkActive="router-link-active"
         (click)="toggleProductsDropdown($event)">
        <span>Products</span>
        <mat-icon class="dropdown-icon" [class.rotated]="showProductsDropdown">arrow_drop_down</mat-icon>
      </a>

      <!-- Dropdown menu -->
      <div class="dropdown-menu" *ngIf="showProductsDropdown">
        <div class="dropdown-content">
          <a class="dropdown-item" (click)="navigateToCategory(0)">All Products</a>
          <a class="dropdown-item"
             *ngFor="let category of categories"
             (click)="navigateToCategory(category.id)">
            {{ category.title }}
          </a>
        </div>
      </div>
    </div>

    <a [routerLink]="['/customize']" routerLinkActive="router-link-active" class="nav-link">
      <span>Customize</span>
    </a>
    <a [routerLink]="['/deals']" routerLinkActive="router-link-active" class="nav-link">
      <span>Hot Deals</span> <mat-icon class="local_fire">local_fire_department</mat-icon>
    </a>
    <a routerLink="/contact" routerLinkActive="router-link-active" class="nav-link">
      <span>Contact</span>
    </a>
    <!-- <a mat-button routerLink="/about" routerLinkActive="router-link-active" class="nav-link">About</a>
    -->
  </nav>

  <div class="header-actions" [@actionsAnimation]>
    <button mat-icon-button class="cart-button" [routerLink]="['/favorites']"
            (mouseenter)="onFavoriteMouseEnter()"
            (mouseleave)="onFavoriteMouseLeave()">
      <mat-icon [@iconHover]="favoriteHover">favorite</mat-icon>
    </button>

    <button mat-icon-button class="cart-button" [routerLink]="['/cart']"
            (mouseenter)="onCartMouseEnter()"
            (mouseleave)="onCartMouseLeave()">
      <mat-icon [@iconHover]="cartHover">shopping_cart</mat-icon>
      <span class="cart-count" [@cartCountAnimation]="itemsCount()">{{itemsCount()}}</span>
    </button>

  </div>

</mat-toolbar>
