<mat-toolbar class="header-container" [@headerAnimation] #matToolbar>

  <!-- Mobile Menu -->
  <!-- Mobile Menu Trigger -->

  <app-mobile-menu *ngIf="(isMobile$ | async) === true" [isMobile]="(isMobile$ | async)|| false"></app-mobile-menu>
  <!-- Mobile Menu Toggle -->

  <div class="logo" [@logoAnimation]>
    <a routerLink="/">
      <img ngSrc="https://lugarstore.net/uploads/LOGO1-lugar.svg" width="94" height="94" priority="low" alt="Lugar Logo">
    </a>
  </div>

  <nav class="nav-links" *ngIf="(isMobile$ | async) === false" [@navLinksAnimation]>
    <a [routerLink]="['/home']" class="nav-link" routerLinkActive="router-link-active"
       [routerLinkActiveOptions]="{ exact: true }">
      <span>Home</span>
    </a>
    <a [routerLink]="['/products']" routerLinkActive="router-link-active" class="nav-link">
      <span>Products</span>
    </a>
    <a [routerLink]="['/customize']" routerLinkActive="router-link-active" class="nav-link">
      <span>Customize</span>
    </a>
    <a [routerLink]="['/deals']" routerLinkActive="router-link-active" class="nav-link">
      <span>Hot Deals</span> <mat-icon class="local_fire">local_fire_department</mat-icon>
    </a>
    <a routerLink="/contact" routerLinkActive="router-link-active" class="nav-link">
      <span>Contact</span>
    </a>
    <!-- <a mat-button routerLink="/about" routerLinkActive="router-link-active" class="nav-link">About</a>
    -->
  </nav>

  <div class="header-actions" [@actionsAnimation]>
    <button mat-icon-button class="cart-button" [routerLink]="['/favorites']"
            (mouseenter)="onFavoriteMouseEnter()"
            (mouseleave)="onFavoriteMouseLeave()">
      <mat-icon [@iconHover]="favoriteHover">favorite</mat-icon>
    </button>

    <button mat-icon-button class="cart-button" [routerLink]="['/cart']"
            (mouseenter)="onCartMouseEnter()"
            (mouseleave)="onCartMouseLeave()">
      <mat-icon [@iconHover]="cartHover">shopping_cart</mat-icon>
      <span class="cart-count" [@cartCountAnimation]="itemsCount()">{{itemsCount()}}</span>
    </button>

  </div>

</mat-toolbar>
