@use '../../../scss/global' as *;

.products-hero {
  position: relative;
  text-align: center;
  height: 316px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4rem;
  background: url(../../../assets/products-hero.jpg) center/cover;

  .breadcrumb {
    margin-bottom: 1rem;
    color: $black;
    font-family: $font-family-secondary;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}
