<div class="breadcrumb">
  <app-breadcrumb></app-breadcrumb>
</div>
<div class="product-detail">
  <!-- Breadcrumb (optional) -->


  <!-- Main Product Section -->
  <div class="product-main">
    <!-- Left: Image Gallery -->
    <div class="product-gallery">
      <!-- Thumbnails -->
      <div class="thumbnail-list">
        @for (img of product?.images; track $index) {
        <div class="thumbnail" (click)="selectImage(img)">
          <img [ngSrc]="img"  width="83" height="60" priority="low" [alt]="product?.title" />
        </div>
        }

      </div>
      <!-- Main Image Preview -->
      <div class="main-image">
        <img [ngSrc]="selectedImage?selectedImage:'bedroom2.png'" priority="low" width="469" height="308" [alt]="product?.title" />
      </div>
    </div>

    <!-- Right: Product Info -->
    <div class="product-info">
      <h1>{{ product?.title }}</h1>
      <div class="price-container">
        @if ( checkDiscountedPrice(product?.discountedPrice)) {
          <p class="original-price strike">{{ product?.originalPrice | currency:'EGP':'symbol':'1.2-2' | addSpaceAfterCurrency }}</p>
          <p class="discounted-price">{{ product?.discountedPrice | currency:'EGP':'symbol':'1.2-2' | addSpaceAfterCurrency }}</p>
        } @else {
          <p class="price">{{ product?.originalPrice | currency:'EGP':'symbol':'1.2-2' | addSpaceAfterCurrency }}</p>
        }
      </div>

      <!-- Color Options -->
      <!-- @if (product?.colors?.length) {
        <div class="color-options" >
          <span>Color:</span>
          <div class="color-swatch" *ngFor="let c of product.colors" [style.background]="c"></div>
        </div>
       } -->


      <!-- Buttons -->
      <div class="product-actions">
        <app-qty-stepper (qtyChange)="qty =$event" [minQty]="minQty" [qty]="minQty"></app-qty-stepper>

        <button class="add-to-cart" (click)="addToCart()">Add to Cart</button>
        <!-- <button class="compare" (click)="compare()">Compare</button> -->
      </div>

      <!-- SKU / Category / Tags -->

      <div class="product-meta">
        <!-- <div class="meta-item">
          <div class="label">SKU</div>
          <div class="separator">:</div>
          <div class="value">SS001</div>
        </div> -->

        <div class="meta-item">
          <div class="label">Category</div>
          <div class="separator">:</div>
          <div class="value"> {{ product?.categoryName }}</div>
        </div>

        <div class="meta-item">
          <div class="label">Tags</div>
          <div class="separator">:</div>
          <div class="value"> {{ product?.categoryName }}</div>
        </div>
      </div>


    </div>
  </div>

  <!-- Tabs Section -->
  <div class="product-tabs">
    <ul class="tab-list">
      <li [class.active]="selectedTab === 'description'" (click)="selectTab('description')">
        Description
      </li>
      <li [class.active]="selectedTab === 'additionalInfo'" (click)="selectTab('additionalInfo')">
        Additional information
      </li>
      <!-- <li [class.active]="selectedTab === 'reviews'" (click)="selectTab('reviews')">
        Reviews [5]
      </li> -->
    </ul>

    <div class="tab-content">
      @if (selectedTab === 'description') {
        <div class="desc" >
          <p >{{ product?.description }}</p>
        </div>
      }
      @if (selectedTab === 'additionalInfo') {
        <div  class="desc"  >
          <p>{{ product?.description }}</p>
        </div>
      }

      <!-- <div *ngIf="selectedTab === 'reviews'">
        <p>{{ product?.reviews }}</p>
      </div> -->
    </div>
  </div>

  <!-- Large Image / Banner (optional) -->
  <div class="banner">
    @for (img of productsDescriptionImage; track $index) {
    <img [ngSrc]="img" width="605" height="348" priority="low" [alt]="product?.title" />
    }
  </div>

  <!-- Related Products -->
  @if(filteredRelatedProducts.length){
    <div class="related-products">
      <div class="title"><span>Related Products</span></div>
      <!-- Reuse of existing ProductsGrid -->
      <app-product-grid [products]="filteredRelatedProducts" [viewMode]="viewMode"></app-product-grid>
      @if(filteredRelatedProducts.length && filteredRelatedProducts.length>itemsPerPage){

        <button class="show-more"  (click)="onPageChanged()">Show More</button>
      }
    </div>
  }

</div>
