<section class="hero">
  <div class="hero__container">
    <div class="hero__content">
      <h4 class="hero__subtitle">New Arrival</h4>
      <h1 class="hero__title">Discover Our<br>New Collection</h1>
      <p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
      <button mat-raised-button class="hero__cta" [routerLink]="['/products']" >BUY NOW</button>
    </div>
    <!-- <div class="hero__decoration">643443</div> -->
  </div>
</section>
