


<div class="product-card list-view"  >
  <!-- Image & Discount Badge -->
  <div class="image-container">

    <skapa-skeleton slot="image" width="301" height="301"></skapa-skeleton>
    <skapa-skeleton slot="image" width="301" height="301"></skapa-skeleton>
    <!-- Discount Badge -->


    <skapa-skeleton slot="body"></skapa-skeleton>


  </div>

  <!-- Product Info -->
  <div class="product-info">
     <skapa-skeleton slot="title" class="product-name"></skapa-skeleton>
     <skapa-skeleton slot="title" class="product-subtitle"></skapa-skeleton>

    <div class="price">
      <div class="product-total-price">
        <skapa-skeleton slot="label" width="50px" height="20px"></skapa-skeleton>
      </div>

    </div>
  </div>


</div>

