@use '../../../scss/global' as *;

.features-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
  justify-content: center;
  background-color: $Light-beige;
  height: 270px;
  width: 100%;
  @include respond-below(sm){
    height: 100%;
  }
  .feature-item {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    // border: 1px solid #eee;
    padding: 1rem;
    flex: 1 1 220px;
    max-width: 250px;
    background-color: $Light-beige;

    .trophy {
      background: url(../../../assets/trophy.svg) center/cover;
      height: 60px;
      width: 60px;
    }
    .support {
      background: url(../../../assets/support.svg) center/cover;
      height: 67px;
      width: 60px;
    }
    .free-shipping {
      background: url(../../../assets/free-shipping.svg) center/cover;
      height: 60px;
      width: 60px;
    }
    .Warranty {
      background: url(../../../assets/Warranty-Protection.svg) center/cover;
      height: 60px;
      width: 67px;
    }



    .feature-text {
      h4 {
        margin: 0 0 0.2rem;
        font-size: 1rem;
        color: #333;
      }

      p {
        margin: 0;
        font-size: 0.85rem;
        color: #666;
      }
    }
  }
}
