<div>
  <div class="features-wrapper">
    <div class="feature-item">
      <!-- Using Material Icon -->
       <div class="trophy"></div>
       <div class="feature-text">
        <h4>High Quality</h4>
        <p>crafted from top materials</p>
      </div>
    </div>

    <div class="feature-item">
      <div class="Warranty"></div>
      <div class="feature-text">
        <h4>Warranty Protection</h4>
        <p>Over 2 years</p>
      </div>
    </div>

    <div class="feature-item">
      <div class="free-shipping"></div>
      <div class="feature-text">
        <h4>Free Shipping</h4>
        <p>Order over Rp 1.000.000</p>
      </div>
    </div>

    <div class="feature-item">
      <div class="support"></div>

      <div class="feature-text">
        <h4>24 / 7 Support</h4>
        <p>Dedicated support</p>
      </div>
    </div>
  </div>

</div>
