
<button *ngIf="isMobile" mat-icon-button (click)="toggleMenu()">
  <mat-icon>menu</mat-icon>
</button>


<skapa-sheet style="z-index: 110;" aria-label="Accessible label for dialog" size="small" [open]="isOpen"  (closerequest)="closeModal()">
  <skapa-modal-header id="sheets-demo-header" slot="header">
    <span slot="closebutton-label">Close button text</span>
  </skapa-modal-header>

  <mat-nav-list>
    <ng-container *ngFor="let item of menuItems">
      <!-- Menu items without submenu -->
      <a mat-list-item
         *ngIf="!item.hasSubmenu"
         (click)="navigate(item.path, item.hasSubmenu)">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>

      <!-- Products menu item with submenu -->
      <div *ngIf="item.hasSubmenu" class="menu-item-with-submenu">
        <div class="menu-item-content" (click)="toggleCategoriesSubmenu($event)">
          <mat-icon class="menu-icon">{{ item.icon }}</mat-icon>
          <span class="menu-label">{{ item.label }}</span>
          <mat-icon class="expand-icon" [class.expanded]="showCategoriesSubmenu">
            expand_more
          </mat-icon>
        </div>

        <!-- Categories submenu -->
        <div class="submenu" *ngIf="showCategoriesSubmenu">
          <a class="submenu-item all-products"
             (click)="navigateToCategory(0)">
            <span>All Products</span>
          </a>
          <a *ngFor="let category of categories"
             class="submenu-item"
             (click)="navigateToCategory(category.id)">
            <span>{{ category.title }}</span>
          </a>
        </div>
      </div>
    </ng-container>
  </mat-nav-list>
</skapa-sheet>
