
<button *ngIf="isMobile" mat-icon-button (click)="toggleMenu()">
  <mat-icon>menu</mat-icon>
</button>


<skapa-sheet style="z-index: 110;" aria-label="Accessible label for dialog" size="small" [open]="isOpen"  (closerequest)="closeModal()">
  <skapa-modal-header id="sheets-demo-header" slot="header">
    <span slot="closebutton-label">Close button text</span>
  </skapa-modal-header>

  <mat-nav-list>
    <a mat-list-item
       *ngFor="let item of menuItems"
       (click)="navigate(item.path)">
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle>{{ item.label }}</span>
    </a>
  </mat-nav-list>
</skapa-sheet>
