@use '../../../../../scss/global' as *;

.browse-range {
  text-align: center;
  padding: 2rem 1rem;

  h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1rem;
    color: #777;
    margin-bottom: 2rem;
  }

  .categories-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;

    /* Breakpoints: fewer columns on smaller screens */
    @include respond-below(lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-below(md) {
      grid-template-columns: 1fr;
    }

    .category-card {
      background-color: #fff;
      border-radius: 8px;
      overflow: hidden;
      cursor: pointer;
    

      img {
        width: 381px;
        height: 480px;
        object-fit: cover;
        display: block;
      }

      h3 {
        margin: 1rem 0;
        font-size: 1.2rem;
        font-weight: 500;
        color: #333;
      }
    }
  }
}
