
<div class="product-card"  [class.list-view]="viewMode === 'list'"
[class.grid-view]="viewMode === 'grid'">
  <!-- Image & Discount Badge -->
  <div class="image-container">
    <img
      class="product-image"
      [ngSrc]="product.imgOne"
      [alt]="product.title"
      fetchpriority="high"
      width="301" height="301"
    />
    <!-- Discount Badge -->
     @if(product.discount>0){
      <div class="discount-badge"  >
        <span>-{{ product.discount }}%</span>
      </div>
     }
     @if(product.subCategoryId == 1){
      <div class="new-badge"  >
        <span>New</span>
      </div>
     }
     @if(product.subCategoryId == 5){
      <div class="top-badge"  >
        <span>Top</span>
      </div>
     }



  </div>

  <!-- Product Info -->
  <div class="product-info">
    <h3 class="product-name">{{ product.title }}</h3>
    <p class="product-subtitle">{{ product.titleAr }}</p>

    <div class="price">
      <span class="current-price">{{ product.originalPrice| currency:'EGP':'symbol':'1.2-2' |  addSpaceAfterCurrency }}</span>
     @if (product.discountedPrice) {
      <span class="old-price"  >
        {{ product.discountedPrice | currency:'EGP':'symbol':'1.2-2' |  addSpaceAfterCurrency  }}
      </span>
     }

    </div>
  </div>

    <!-- Hover Overlay -->
    <div class="hover-overlay" >
      <button
        mat-raised-button
        color="primary"
        class="add-to-cart"
        (click)="addToCart()"
      >
        Add to cart
      </button>

      <div class="hover-actions">
        <!-- You can use icon-only buttons or include text. Shown here with icon + text. -->
        <div class="action-item">
          <mat-icon>share</mat-icon>
          <span>Share</span>
        </div>
        <div class="action-item" (click)="goToItems(product.id)"  >
          <mat-icon>description</mat-icon>
          <span>View Details</span>
        </div>
        <div class="action-item">
          <mat-icon>favorite_border</mat-icon>
          <span>Like</span>
        </div>
      </div>
    </div>
</div>

