@use '../../../../../scss/global' as *;



.product-card {

  /* Default width on small screens */
  width: 285px;
  height: 446px;

  border: 1px solid #ddd;
  // border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  position: relative;

  /* On medium screens and above, limit width to 240px */
  @include respond-above(md) {
    width: 285px;
    height: 446px;
  }

  &.list-view {
    display: flex;
    gap: 2rem;

    .image-container {
      flex: 0 0 300px;
      height: 200px;
    }

    @include respond-below(md) {
      flex-direction: column;

      .image-container {
        flex: none;
        height: 250px;
      }
    }
  }

  .image-container {
    position: relative;
    width: 100%;
    height: 301px;

    overflow: hidden;

    .product-image {
      width: 100%;
      height: 301px;

      object-fit: cover;
      display: block;
    }

    .discount-badge {
      position: absolute;
      top: 8px;
      right: 8px;
      background: #E97171;
      color: #fff;
      padding: 0.3rem 0.5rem;
      font-size: 0.9rem;
      border-radius: 100%;
      height: 48px;
      width: 48px;
      display: flex;
      align-items: center;
    }

  }


  .hover-overlay {
    /* Fill the container */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);

    /* Use your flex-center mixin to center content; column direction */
    @include flex-center(column);

    gap: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    .add-to-cart {
        background-color: #fff;
        color: $light-brown;
        border-radius: 0;
        width: 202px;
        height: 48px;

      }

    .hover-actions {
      /* Another flex-center usage if you like; row direction */
      @include flex-center(row);
      gap: 1rem;

      .action-item {
        display: flex; // or use flex-center if you want them centered differently
        align-items: center;
        gap: 0.3rem;
        color: #fff;
        font-size: 0.9rem;
        cursor: pointer;

        mat-icon {
          font-size: 1.1rem;
        }
      }
    }
  }




  .product-info {
    padding: 1rem;
    background: #F4F5F7;
    width: 285px;
    height: 145px;
    top: 301px;

    .product-name {
      margin: 0 0 0.3rem;
      font-size: 1rem;
      font-weight: 600;
      color: #333;
    }

    .product-subtitle {
      margin: 0 0 0.8rem;
      font-size: 0.9rem;
      color: #777;
    }

    .price {
      .current-price {
        font-weight: 600;
        margin-right: 0.5rem;
      }

      .old-price {
        color: #bbb;
        text-decoration: line-through;
        font-size: 0.9rem;
      }
    }
  }


  /* On hover over the card, show the overlay */
  &:hover {
    .hover-overlay {
      opacity: 1;
      visibility: visible;
    }
  }
}
