<div class="collage-section">
  <h2 @fadeIn>
    Share your setup with
    <span>#lugar_furniture</span>
    <span>#شيوخ_الصنعه</span>
  </h2>

  <div class="gallery-container" @staggerFadeIn>
    <div class="sub-grid">
      <div @fadeIn #galleryItem class="gallery-item">
        <img ngSrc="https://lugarstore.com/uploads/2025-03-13_08-18-05_67d294bd930cc.png" priority="low" alt=""  width="445" height="300"  class="gallery-img" />
      </div>

      <div @fadeIn #galleryItem class="gallery-item">
        <img ngSrc="https://lugarstore.com/uploads/2025-03-13_08-18-25_67d294d106ef5.png" priority="low" alt=""   width="500" height="300" class="gallery-img" />
      </div>
      <div @fadeIn #galleryItem class="gallery-item">
        <img ngSrc="https://lugarstore.com/uploads/2025-03-13_08-18-56_67d294f059a32.png" priority="low" alt=""   width="500" height="300" class="gallery-img" />
      </div>
    </div>

    <div class="sub-grid">
      <div @fadeIn #galleryItem class="gallery-item">
        <img ngSrc="https://lugarstore.com/uploads/2025-03-13_08-17-49_67d294ad2f7cc.png" priority="low" alt=""  width="600" height="300"  class="gallery-img" />
      </div>

      <div @fadeIn #galleryItem class="gallery-item">
        <img ngSrc="https://lugarstore.com/uploads/2025-03-13_08-20-26_67d2954a5d4c8.png" priority="low" alt=""   width="660" height="300" class="gallery-img" />
      </div >
      <div @fadeIn #galleryItem class="gallery-item">
        <img ngSrc="https://lugarstore.com/uploads/2025-03-13_08-19-20_67d29508b671f.png" alt=""   width="630" height="300" class="gallery-img"  priority="low"  />
      </div>
    </div>

    <div class="sub-grid">
      <div @fadeIn #galleryItem class="gallery-item">
        <img ngSrc="https://lugarstore.com/uploads/2025-03-13_08-20-04_67d29534af5d4.png" priority="low" alt=""   width="550" height="300" class="gallery-img" />
      </div>
      <div @fadeIn #galleryItem class="gallery-item">
        <img ngSrc="https://lugarstore.com/uploads/2025-03-13_08-19-43_67d2951f60af7.png"  priority="low"  alt=""   width="550" height="300" class="gallery-img" />
      </div>
      <div @fadeIn #galleryItem class="gallery-item">
        <img ngSrc="https://lugarstore.com/uploads/2025-03-13_08-20-48_67d295607f23c.png" priority="low" alt=""   width="550" height="300" class="gallery-img" />
      </div>
    </div>

    <div class="sub-grid">
      <div @fadeIn #galleryItem class="gallery-item">
        <img ngSrc="https://lugarstore.com/uploads/2025-03-13_08-21-11_67d2957769082.png" priority="low" alt=""   width="690" height="300" class="gallery-img" />
      </div>
      <div @fadeIn #galleryItem class="gallery-item">
        <img ngSrc="https://lugarstore.com/uploads/2025-03-13_08-21-32_67d2958c1bfbc.png" priority="low" alt=""   width="470" height="300" class="gallery-img" />
      </div>
      <div @fadeIn #galleryItem class="gallery-item">
        <img ngSrc="https://lugarstore.com/uploads/2025-03-13_08-21-51_67d2959fe51b0.png" priority="low" alt=""   width="680" height="300" class="gallery-img" />
      </div>
    </div>
  </div>

</div>
