<div class="collage-section">
  <h2>
    Share your setup with
    <span>#lugar_furniture</span>
    <span>#شيوخ_الصنعه</span>
  </h2>

  <div class="gallery-container">
    <div class="sub-grid">
      <div>
        <img ngSrc="gallery1.png" alt="" />
      </div>
      <div>
        <img ngSrc="gallery2.png" fetchpriority="high" alt="" />
      </div>
      <div>
        <img ngSrc="gallery3.png" fetchpriority="high" alt="" />
      </div>
    </div>

    <div class="sub-grid">
      <div>
        <img ngSrc="gallery4.png" fetchpriority="high" alt="" />
      </div>
      <div>
        <img ngSrc="gallery5.png" alt=""  fetchpriority="high"/>
      </div>
      <div>
        <img ngSrc="gallery6.png"  fetchpriority="high" alt="" />
      </div>
    </div>

    <div class="sub-grid">
      <div>
        <img ngSrc="gallery7.png" fetchpriority="high" alt="" />
      </div>
      <div>
        <img ngSrc="gallery8.png" fetchpriority="high" alt="" />
      </div>
      <div>
        <img ngSrc="gallery9.png" fetchpriority="high" alt="" />
      </div>
    </div>

    <div class="sub-grid">
      <div>
        <img ngSrc="gallery10.png" fetchpriority="high" alt="" />
      </div>
      <div>
        <img ngSrc="gallery11.png" fetchpriority="high" alt="" />
      </div>
      <div>
        <img ngSrc="gallery12.png" fetchpriority="high" alt="" />
      </div>
    </div>
  </div>

</div>
