<app-hero></app-hero>
<div class="checkout-container" [@pageAnimation]>
  <!-- Left Column: Billing details form -->
  <div class="billing-details" [@billingAnimation]>
    <h2>Billing details</h2>
    <form [formGroup]="checkoutForm" class="billing-form" [@formFieldsAnimation]>
      <!-- Row 1: First Name, Last Name -->
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Country / Region</mat-label>
        <input type="text" placeholder="Pick one" aria-label="Number" matInput formControlName="country"
          [matAutocomplete]="autoCountry">
          <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
        <mat-autocomplete autoActiveFirstOption #autoCountry="matAutocomplete">
          @for (option of filteredCountries$ | async; track option) {
          <mat-option [value]="option.name">{{option.name}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <!-- Row 6: Province (Autocomplete) -->

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>State</mat-label>
        <input type="text" placeholder="Pick one" aria-label="State" matInput formControlName="province"
          [matAutocomplete]="autoProvince">
          <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
        <mat-autocomplete autoActiveFirstOption #autoProvince="matAutocomplete">
          @for (option of filteredProvinces$ | async; track option) {
          <mat-option [value]="option.name">{{option.name}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <!-- Row 4: Street Address -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Street Address</mat-label>
        <input matInput formControlName="streetAddress" placeholder="House number and street name" />
      </mat-form-field>

      <!-- Row 5: Town/City -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Town / City</mat-label>
        <input matInput formControlName="city" />
      </mat-form-field>

      <!-- Row 8: Phone -->
      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" />
      </mat-form-field>

      <!-- Row 9: Email address -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email address</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <!-- Row 10: Additional Info -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Additional Information</mat-label>
        <textarea matInput formControlName="additionalInfo"></textarea>
      </mat-form-field>
    </form>
  </div>

  <!-- Right Column: Order Summary -->
  <div class="order-summary" [@orderSummaryAnimation]>
    <h2>
      Product
      <span>Subtotal</span>
    </h2>
    <div class="order-items" [@orderItemsAnimation]>
      @for (item of cartItems; track $index) {
      <div class="order-item">
        <span>{{item.title}} x {{item.qty}}</span>
        <span>{{item.price * item.qty | currency:'EGP':'symbol':'1.2-2' | addSpaceAfterCurrency }} </span>
      </div>
      }
    </div>
    <div class="line-item">
      <span>Subtotal</span>
      <span> {{ subtotal | currency:'EGP':'symbol':'1.2-2' | addSpaceAfterCurrency  }}</span>
    </div>
    <div class="line-item total">
      <span>Total</span>
      <span> {{ total | currency:'EGP':'symbol':'1.2-2' | addSpaceAfterCurrency }}</span>
    </div>

    <div class="place-order-btn-container" [@buttonAnimation]>
      <button [disabled]="checkoutForm.invalid"
              class="place-order-btn"
              (click)="placeOrder()"
              [@buttonHover]="buttonState"
              (mouseenter)="setButtonHover(true)"
              (mouseleave)="setButtonHover(false)">
        Place order
      </button>
    </div>
  </div>
</div>
<app-features></app-features>
